# MySQL Database

**Goal:** Construct and export a MySQL database using the previously collected and cleaned data.

## Specifications - Database

Include the following tables in a new MySQL databse called "movies":

1. title_basics
    - Movie ID (tconst)
    - Primary Title
    - Start Year
    - Runtime (minutes)
    - Genres


2. title_ratings
    - Movie ID (tconst)
    - Average movie rating
    - Number of votes


3. title_genres (joiner table)
    - Movie ID (tconst)
    - Genre ID

4. genres
    - Genre ID
    - Genre name


5. tmdb_data
    - Movie ID
    - Revenue
    - Budget
    - Certification (MPAA Rating)
    

**Note:** Normalize all data into separate tables EXCEPT the data from the TMDB API calls; keep that data together in a table (columns: imdb_id, revenue, budget, certification).

# 0. Preliminary Steps

In [34]:
# imports
import pandas as pd

In [35]:
# import title basics csv
title_basics = pd.read_csv("Data/title_basics.csv.gz")

# check
title_basics.info()
title_basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86742 entries, 0 to 86741
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86742 non-null  object
 1   titleType       86742 non-null  object
 2   primaryTitle    86742 non-null  object
 3   originalTitle   86742 non-null  object
 4   isAdult         86742 non-null  int64
 5   startYear       86742 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86742 non-null  int64
 8   genres          86742 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [36]:
# import title ratings
title_ratings = pd.read_csv("Data/title_ratings.csv.gz")

# check
title_ratings.info()
title_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499625 entries, 0 to 499624
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         499625 non-null  object
 1   averageRating  499625 non-null  float64
 2   numVotes       499625 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1974
1  tt0000002            5.8       264
2  tt0000005            6.2      2617
3  tt0000006            5.1       182
4  tt0000007            5.4       820

In [37]:
# import tmdb data
tmdb_data = pd.read_csv("Data/tmdb_results_combined.csv.gz")

# check
tmdb_data.info()
tmdb_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                638 non-null    object
 1   adult                  638 non-null    float64
 2   backdrop_path          541 non-null    object
 3   belongs_to_collection  110 non-null    object
 4   budget                 638 non-null    float64
 5   genres                 638 non-null    object
 6   homepage               76 non-null     object
 7   id                     638 non-null    float64
 8   original_language      638 non-null    object
 9   original_title         638 non-null    object
 10  overview               636 non-null    object
 11  popularity             638 non-null    float64
 12  poster_path            619 non-null    object
 13  production_companies   638 non-null    object
 14  production_countries   638 non-null    object
 15  release_date           637 non-null    object
 16  revenue                638 non-null    float64
 17  runtime                638 non-null    float64
 18  spoken_languages       638 non-null    object
 19  status                 638 non-null    object
 20  tagline                498 non-null    object
 21  title                  638 non-null    object
 22  video                  638 non-null    float64
 23  vote_average           638 non-null    float64
 24  vote_count             638 non-null    float64
 25  certification          430 non-null    object
dtypes: float64(9), object(17)
memory usage: 129.7+ KB

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.112,2221.0,PG
2,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.100,181.0,R
3,tt0120263,0.0,/ynXVuylP8upazjz8lrqb1PEMkdR.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,34070.0,sv,Sånger från andra våningen,...,80334.0,99.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Songs from the Second Floor,0.0,7.200,239.0,NaN
4,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R

# 1. Create title_genres connector table

In [38]:
# split list of genres into separate columns
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics['genres_split'].head()

0    [Comedy, Fantasy, Romance]
1                       [Drama]
2                       [Drama]
3      [Comedy, Horror, Sci-Fi]
4                       [Drama]
Name: genres_split, dtype: object

In [39]:
# create exploded_genres df
exploded_genres = title_basics.explode('genres_split')

# check
exploded_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama

In [40]:
# get list of unique genres from 'genres_split' column
unique_genres = sorted(exploded_genres['genres_split'].unique())

# check
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [41]:
# create title_genres df with 'tconst' and 'genres_split'
# as columns
title_genres = exploded_genres[['tconst', 'genres_split']].copy()

# check
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [42]:
# create genre mapper dictionary (with dict and zip)

# create list of integers, one for each unique genre
genre_ints = range(len(unique_genres))

# create genre mapper: genres to ints
genre_map = dict(zip(unique_genres, genre_ints))

# check
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [43]:
# map genre strings to ints in basics in new 'genre_id' column
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)

# check
title_genres.head()

      tconst genres_split  genre_id
0  tt0035423       Comedy         5
0  tt0035423      Fantasy         9
0  tt0035423      Romance        18
1  tt0062336        Drama         7
2  tt0069049        Drama         7

In [44]:
# drop 'genres_split' column from title_genres
title_genres.drop(columns = ['genres_split'], inplace = True)

# check
'genres_split' in title_genres.columns

False

# 2. Create genres table

Maps genre_name to genre_id.

In [45]:
# use genre_map dictionary keys, values to create table
genres = pd.DataFrame({'genre_name': genre_map.keys(),
                      'genre_id': genre_map.values()})

# check
genres.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# 3. Drop unnecessary columns from title_basics table

In [46]:
# check columns in basics
title_basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'genres_split'],
      dtype='object')

In [47]:
# drop unnecessary columns from title_basics (info that stakeholders
# don't want in the database)

# desired info: movie id (tconst), primary title, start year,
# runtime, and genres (which will be a separate table)

title_basics.drop(columns = ['titleType',
                            'originalTitle',
                            'isAdult',
                            'endYear',
                            'genres',
                            'genres_split'], inplace = True)

# check
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86742 entries, 0 to 86741
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86742 non-null  object
 1   primaryTitle    86742 non-null  object
 2   startYear       86742 non-null  int64
 3   runtimeMinutes  86742 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.6+ MB

# 4. Drop unnecessary columns from tmdb_data table

In [48]:
# check columns in tmdb_data
tmdb_data.columns

Index(['imdb_id', 'adult', 'backdrop_path', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'certification'],
      dtype='object')

In [49]:
# check difference between 'imdb_id' and 'id' columns
tmdb_data[['imdb_id', 'id']].head()

# the 'imdb_id' column matches the patterns of ids in the
# title_basics and title_ratings tables, so we will keep
# that and drop the 'id' column

     imdb_id       id
0  tt0113026  62127.0
1  tt0118694    843.0
2  tt0119273  16225.0
3  tt0120263  34070.0
4  tt0120467  19085.0

In [50]:
# drop unnecessary columns from tmdb_data (info that 
# stakeholders don't want in the database)

# desired info: movie id (tconst), revenue, budget, 
# certification


tmdb_data.drop(columns = ['id',
                         'adult',
                         'backdrop_path',
                         'belongs_to_collection',
                         'genres',
                         'homepage',
                         'original_language',
                         'original_title',
                         'overview',
                         'popularity',
                         'poster_path',
                         'production_companies',
                         'production_countries',
                         'release_date',
                         'runtime',
                         'spoken_languages',
                         'status',
                         'tagline',
                         'title',
                         'video',
                         'vote_average',
                         'vote_count'], inplace = True)

# check
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        638 non-null    object
 1   budget         638 non-null    float64
 2   revenue        638 non-null    float64
 3   certification  430 non-null    object
dtypes: float64(2), object(2)
memory usage: 20.1+ KB

# 5. Save tables to MySQL database

Use PyMySQL and SQLAlchemy to communicate with MySQL. Add tables to 'movies' database: title_basics, title_genres (joiner table), genres, title_ratings, and tmdb_data. Use 'tconst' as primary key.

In [53]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy.types import *

In [ ]:
df.to_sql("filename", con= engine)

In [54]:
# create connection with MySQL
username = 'root'
password = 'root'
db_name = 'movies'
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [55]:
# create engine
engine = create_engine(connection)

# check
engine

Engine(mysql+pymysql://root:***@localhost/movies)

## title_basics

In [58]:
# check dtypes for title_basics
title_basics_dtypes = title_basics.dtypes
title_basics_dtypes

tconst            object
primaryTitle      object
startYear          int64
runtimeMinutes     int64
dtype: object

In [59]:
# create dictionary of dtypes
title_basics_dtypes = title_basics_dtypes.to_dict()
title_basics_dtypes

{'tconst': dtype('O'),
 'primaryTitle': dtype('O'),
 'startYear': dtype('int64'),
 'runtimeMinutes': dtype('int64')}

In [61]:
# get max string length for object columns
tconst_len = title_basics['tconst'].fillna('').map(len).max()
primaryTitle_len = title_basics['primaryTitle'].fillna('').map(len).max()

# check
print(tconst_len, primaryTitle_len)

10 242

In [62]:
# create schema dictionary using SQLAlchemy dtypes
# 'tconst' is primary key
title_basics_schema = {
    "tconst": String(tconst_len + 1),
    "primaryTitle": Text(primaryTitle_len + 1),
    "startYear": Integer(),
    "runtimeMinutes": Integer()
}

In [63]:
# save to movies db
title_basics.to_sql('title_basics', 
                    engine, 
                    dtype = title_basics_schema,
                    if_exists = 'replace',
                    index = False)

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'movies'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# 6. Show tables, table heads, and export