# API Calls

**Goal:** Extract the budget, revenue, and MPAA Rating (G/PG/PG-13/R; also called "Certification") from The Movie Database (TMDB; https://www.themoviedb.org/)

## Specifications - Financial Data

- Your stakeholder would like you to extract and save the results for movies that meet all of the criteria established in part 1 of the project (the filtered dataframe saved from part one as a csv.gz file).

- Each year should be saved as a separate .csv.gz file.

# 1. Preliminary Steps

In [3]:
# imports
import json, os, time
import tmdbsimple as tmdb
import pandas as pd
from tqdm.notebook import tqdm_notebook
import glob

In [2]:
# load api key
with open('/Users/yang0108/.secret/tmdb_api.json') as f:
    login = json.load(f)

login.keys()

dict_keys(['api-key'])

In [3]:
# set API_KEY variable
tmdb.API_KEY = login['api-key']

In [4]:
# make folder for API call data
FOLDER = "Data/final_tmdb_data_by_year/"
os.makedirs(FOLDER, exist_ok = True)
os.listdir(FOLDER)

['final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'final_tmdb_data_2021.csv.gz',
 'final_tmdb_data_2022.csv.gz']

# 2. Helper Functions

In [5]:
# function to add certification to movie.info dict
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    
    # set movie id
    movie = tmdb.Movies(movie_id)

    # save the .info and .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    
    # only get releases of the movie in the US
    for c in releases['countries']:
        
        # if country abbreviation == US
        if c['iso_3166_1'] == 'US':
            
            # save certification key into info dict
            info['certification'] = c['certification']
            
    return info

In [6]:
# test get_certification function
movie_id = 'tt0133093'
info = get_movie_with_rating(movie_id)
info['certification']

'R'

In [7]:
def write_json(new_data, filename):
    """Appends a list of records (new_data) to a json file
    (filename). Adapted from: https://www.geeksforgeeks.org/
    append-to-json-file-using-python/"""
    
    with open(filename, 'r+') as file:
        
        # load existing data from file into dict
        file_data = json.load(file)
        
        # if both types of data are lists, extend
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
            
        # else, append
        else:
            file_data.append(new_data)
            
        # set current position at offset
        file.seek(0)
        
        # convert to json
        json.dump(file_data, file)

# 3. Load Data

In [8]:
# load basics from Data folder
basics = pd.read_csv('Data/title_basics.csv.gz')

# check
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

# 4. API Calls

In [11]:
# create list of years to extract from API
# YEARS_TO_GET = list(range(2000, 2023))

YEARS_TO_GET = [2022]
print(YEARS_TO_GET)

[2022]

In [12]:
# create empty list to save errors
errors = []

In [13]:
# iterate over YEARS_TO_GET (outer loop)

# set up progress bar for outer loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc = 'YEARS', position = 0):
    
    # select JSON_FILE name to save results in progress
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    
    # check if file already exists
    file_exists = os.path.isfile(JSON_FILE)
    if file_exists == False:
        
        # save an empty dict with "imdb_id" = 0 to new file
        with open(JSON_FILE, 'w') as f:
            json.dump([{'imdb_id': 0}], f)
    
    # define df for current year
    df = basics.loc[basics['startYear'] == YEAR].copy()
    
    # save movie ids from df['tconst'] to list
    movie_ids = df['tconst'].copy()
    
    # load any existing data from json into previous_df
    previous_df = pd.read_json(JSON_FILE)
    
    # filter out any movies that already exist in JSON_FILE
    # (so as not to repeat any API calls for the same movie)
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    # iterate over movie_ids_to_get (inner loop)
    # some movies with imdb_ids don't exist in tmdb, so use
    # try/except to work through errors
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                 desc = f'Movies from {YEAR}',
                                 position = 1,
                                 leave = True):
        
        try:
            # retrieve data for movie_id
            temp = get_movie_with_rating(movie_id)
            
            # append/extend results to JSON_FILE
            write_json(temp, JSON_FILE)
            
            # pause to prevent overwhelming server with calls
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    # save year's results in csv.gz file
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz",
                        compression = "gzip",
                        index = False)

YEARS:   0%|          | 0/1 [00:00<?, ?it/s]

Movies from 2022:   0%|          | 0/4987 [00:00<?, ?it/s]

In [15]:
# print number of errors encountered
print(f"- Total errors: {len(errors)}")

- Total errors: 1209

# 5. Combining Results

In [5]:
# check head and info of each file, save each to variable

# use glob to get all the .csv.gz files in FOLDER
csv_files = glob.glob(FOLDER + '*.csv.gz')

# create empty dictionary to store dfs
dfs = {}

# iterate through files
for file in csv_files:
    file_name = file.split('/')[-1].split('.')[0][-4:]
    dfs[file_name] = pd.read_csv(file)
    print(file_name)
    print(dfs[file_name].info())
    print(dfs[file_name].head())
    print()

2000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1239 non-null   object
 1   adult                  1238 non-null   float64
 2   backdrop_path          687 non-null    object
 3   belongs_to_collection  116 non-null    object
 4   budget                 1238 non-null   float64
 5   genres                 1238 non-null   object
 6   homepage               63 non-null     object
 7   id                     1238 non-null   float64
 8   original_language      1238 non-null   object
 9   original_title         1238 non-null   object
 10  overview               1217 non-null   object
 11  popularity             1238 non-null   float64
 12  poster_path            1116 non-null   object
 13  production_companies   1238 non-null   object
 14  production_countries   1238 non-null   object
 15  release_date           1229 non-null   object
 16  revenue                1238 non-null   float64
 17  runtime                1238 non-null   float64
 18  spoken_languages       1238 non-null   object
 19  status                 1238 non-null   object
 20  tagline                553 non-null    object
 21  title                  1238 non-null   object
 22  video                  1238 non-null   float64
 23  vote_average           1238 non-null   float64
 24  vote_count             1238 non-null   float64
 25  certification          391 non-null    object
dtypes: float64(9), object(17)
memory usage: 251.8+ KB
None
     imdb_id  adult                     backdrop_path  \
0          0    NaN                               NaN
1  tt0113026    0.0  /vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg
2  tt0113092    0.0                               NaN
3  tt0116391    0.0                               NaN
4  tt0118694    0.0  /n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg

                               belongs_to_collection      budget  \
0                                                NaN         NaN
1                                                NaN  10000000.0
2                                                NaN         0.0
3                                                NaN         0.0
4  {'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...    150000.0

                                              genres homepage        id  \
0                                                NaN      NaN       NaN
1  [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...      NaN   62127.0
2           [{'id': 878, 'name': 'Science Fiction'}]      NaN  110977.0
3  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...      NaN  442869.0
4  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN     843.0

  original_language   original_title  ...     revenue  runtime  \
0               NaN              NaN  ...         NaN      NaN
1                en  The Fantasticks  ...         0.0     86.0
2                en    For the Cause  ...         0.0    100.0
3                hi             Gang  ...         0.0    152.0
4                cn             花樣年華  ...  14204632.0     99.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...  Released
4  [{'english_name': 'Cantonese', 'iso_639_1': 'c...  Released

                                             tagline                 title  \
0                                                NaN                   NaN
1      Try to remember the first time magic happened       The Fantasticks
2       The ultimate showdown on a forbidden planet.         For the Cause
3                                                NaN                  Gang
4  Feel the heat, keep the feeling burning, let t...  In the Mood for Love

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0         5.500       22.0           NaN
2    0.0         5.100        8.0           NaN
3    0.0         4.000        1.0           NaN
4    0.0         8.112     2221.0            PG

[5 rows x 26 columns]

2001
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1336 entries, 0 to 1335
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1336 non-null   object
 1   adult                  1335 non-null   float64
 2   backdrop_path          720 non-null    object
 3   belongs_to_collection  92 non-null     object
 4   budget                 1335 non-null   float64
 5   genres                 1335 non-null   object
 6   homepage               109 non-null    object
 7   id                     1335 non-null   float64
 8   original_language      1335 non-null   object
 9   original_title         1335 non-null   object
 10  overview               1306 non-null   object
 11  popularity             1335 non-null   float64
 12  poster_path            1199 non-null   object
 13  production_companies   1335 non-null   object
 14  production_countries   1335 non-null   object
 15  release_date           1320 non-null   object
 16  revenue                1335 non-null   float64
 17  runtime                1335 non-null   float64
 18  spoken_languages       1335 non-null   object
 19  status                 1335 non-null   object
 20  tagline                551 non-null    object
 21  title                  1335 non-null   object
 22  video                  1335 non-null   float64
 23  vote_average           1335 non-null   float64
 24  vote_count             1335 non-null   float64
 25  certification          424 non-null    object
dtypes: float64(9), object(17)
memory usage: 271.5+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0035423    0.0  /hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg                   NaN
2  tt0114447    0.0                               NaN                   NaN
3  tt0116916    0.0  /rFpHBidSlhjflmnLu7BZilyKeQR.jpg                   NaN
4  tt0118589    0.0  /9NZAirJahVilTiDNCHLFcdkwkiy.jpg                   NaN

       budget                                             genres homepage  \
0         NaN                                                NaN      NaN
1  48000000.0  [{'id': 10749, 'name': 'Romance'}, {'id': 14, ...      NaN
2         0.0  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...      NaN
3         0.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...      NaN
4  22000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...      NaN

         id original_language    original_title  ...     revenue  runtime  \
0       NaN               NaN               NaN  ...         NaN      NaN
1   11232.0                en    Kate & Leopold  ...  76019048.0    118.0
2  151007.0                en  The Silent Force  ...         0.0     90.0
3   73549.0                en     The Dark Mist  ...         0.0    101.0
4   10696.0                en           Glitter  ...   5271666.0    104.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                             tagline             title  video  \
0                                                NaN               NaN    NaN
1  If they lived in the same century, they'd be p...    Kate & Leopold    0.0
2  They left him for dead... They should have fin...  The Silent Force    0.0
3                                                NaN     The Dark Mist    0.0
4   In music she found her dream, her love, herself.           Glitter    0.0

   vote_average vote_count certification
0           NaN        NaN           NaN
1         6.328     1191.0         PG-13
2         5.000        3.0           NaN
3         3.500        2.0            PG
4         4.500      125.0         PG-13

[5 rows x 26 columns]

2002
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1275 non-null   object
 1   adult                  1274 non-null   float64
 2   backdrop_path          747 non-null    object
 3   belongs_to_collection  120 non-null    object
 4   budget                 1274 non-null   float64
 5   genres                 1274 non-null   object
 6   homepage               102 non-null    object
 7   id                     1274 non-null   float64
 8   original_language      1274 non-null   object
 9   original_title         1274 non-null   object
 10  overview               1245 non-null   object
 11  popularity             1274 non-null   float64
 12  poster_path            1154 non-null   object
 13  production_companies   1274 non-null   object
 14  production_countries   1274 non-null   object
 15  release_date           1261 non-null   object
 16  revenue                1274 non-null   float64
 17  runtime                1274 non-null   float64
 18  spoken_languages       1274 non-null   object
 19  status                 1274 non-null   object
 20  tagline                578 non-null    object
 21  title                  1274 non-null   object
 22  video                  1274 non-null   float64
 23  vote_average           1274 non-null   float64
 24  vote_count             1274 non-null   float64
 25  certification          441 non-null    object
dtypes: float64(9), object(17)
memory usage: 259.1+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0096056    0.0  /95U3MUDXu4xSCmVLtWgargRipDi.jpg                   NaN
2  tt0118926    0.0  /qR3Dk3ctnrrxkAI6I472RhamIbu.jpg                   NaN
3  tt0119980    0.0                               NaN                   NaN
4  tt0120679    0.0  /s04Ds4xbJU7DzeGVyamccH4LoxF.jpg                   NaN

       budget                                             genres  \
0         NaN                                                NaN
1         0.0                      [{'id': 18, 'name': 'Drama'}]
2         0.0  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
3         0.0  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
4  12000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...

                              homepage        id original_language  \
0                                  NaN       NaN               NaN
1                                  NaN  109809.0                en
2                                  NaN   20689.0                en
3                                  NaN  563364.0                en
4  https://www.miramax.com/movie/frida    1360.0                en

          original_title  ...     revenue  runtime  \
0                    NaN  ...         NaN      NaN
1   Crime and Punishment  ...         0.0    126.0
2    The Dancer Upstairs  ...   5227348.0    132.0
3  Random Shooting in LA  ...         0.0     91.0
4                  Frida  ...  56298474.0    123.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'French', 'iso_639_1': 'fr',...  Released

                                             tagline                  title  \
0                                                NaN                    NaN
1                                                NaN   Crime and Punishment
2  An honest man caught in a world of intrigue, p...    The Dancer Upstairs
3                                                NaN  Random Shooting in LA
4                             Prepare to be seduced.                  Frida

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0          5.50       11.0           NaN
2    0.0          6.30       50.0             R
3    0.0          0.00        0.0           NaN
4    0.0          7.43     1870.0             R

[5 rows x 26 columns]

2003
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1334 entries, 0 to 1333
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1334 non-null   object
 1   adult                  1333 non-null   float64
 2   backdrop_path          715 non-null    object
 3   belongs_to_collection  118 non-null    object
 4   budget                 1333 non-null   float64
 5   genres                 1333 non-null   object
 6   homepage               154 non-null    object
 7   id                     1333 non-null   float64
 8   original_language      1333 non-null   object
 9   original_title         1333 non-null   object
 10  overview               1299 non-null   object
 11  popularity             1333 non-null   float64
 12  poster_path            1176 non-null   object
 13  production_companies   1333 non-null   object
 14  production_countries   1333 non-null   object
 15  release_date           1311 non-null   object
 16  revenue                1333 non-null   float64
 17  runtime                1333 non-null   float64
 18  spoken_languages       1333 non-null   object
 19  status                 1333 non-null   object
 20  tagline                541 non-null    object
 21  title                  1333 non-null   object
 22  video                  1333 non-null   float64
 23  vote_average           1333 non-null   float64
 24  vote_count             1333 non-null   float64
 25  certification          422 non-null    object
dtypes: float64(9), object(17)
memory usage: 271.1+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0120607    0.0                               NaN                   NaN
2  tt0135991    0.0                               NaN                   NaN
3  tt0138524    0.0  /x1BTLDDijvms3Yi9NZoxxniTDGA.jpg                   NaN
4  tt0140806    0.0                               NaN                   NaN

       budget                                             genres homepage  \
0         NaN                                                NaN      NaN
1         0.0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...      NaN
2         0.0  [{'id': 27, 'name': 'Horror'}, {'id': 16, 'nam...      NaN
3  60000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...      NaN
4         0.0                                                 []      NaN

         id original_language       original_title  ...      revenue  runtime  \
0       NaN               NaN                  NaN  ...          NaN      NaN
1  584762.0                en   Between The Sheets  ...          0.0    102.0
2  140359.0                en            Dominator  ...          0.0     77.0
3   11775.0                en  Intolerable Cruelty  ...  119940815.0    100.0
4  281573.0                en        American Reel  ...          0.0      0.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2                                                 []  Released
3  [{'english_name': 'French', 'iso_639_1': 'fr',...  Released
4                                                 []  Released

                                             tagline                title  \
0                                                NaN                  NaN
1                                                NaN   Between The Sheets
2   Anyone who says Rock 'n' Roll is dead - WILL be!            Dominator
3  They can't keep their hands off each others as...  Intolerable Cruelty
4                                                NaN        American Reel

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0         0.000        0.0           NaN
2    0.0         1.500        2.0           NaN
3    0.0         5.919     1315.0         PG-13
4    0.0         0.000        0.0           NaN

[5 rows x 26 columns]

2004
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1488 non-null   object
 1   adult                  1487 non-null   float64
 2   backdrop_path          846 non-null    object
 3   belongs_to_collection  128 non-null    object
 4   budget                 1487 non-null   float64
 5   genres                 1487 non-null   object
 6   homepage               181 non-null    object
 7   id                     1487 non-null   float64
 8   original_language      1487 non-null   object
 9   original_title         1487 non-null   object
 10  overview               1457 non-null   object
 11  popularity             1487 non-null   float64
 12  poster_path            1322 non-null   object
 13  production_companies   1487 non-null   object
 14  production_countries   1487 non-null   object
 15  release_date           1463 non-null   object
 16  revenue                1487 non-null   float64
 17  runtime                1487 non-null   float64
 18  spoken_languages       1487 non-null   object
 19  status                 1487 non-null   object
 20  tagline                627 non-null    object
 21  title                  1487 non-null   object
 22  video                  1487 non-null   float64
 23  vote_average           1487 non-null   float64
 24  vote_count             1487 non-null   float64
 25  certification          446 non-null    object
dtypes: float64(9), object(17)
memory usage: 302.4+ KB
None
     imdb_id  adult                     backdrop_path  \
0          0    NaN                               NaN
1  tt0122247    0.0                               NaN
2  tt0146803    0.0                               NaN
3  tt0159290    0.0  /atFOPVD3AKSj16ImD1MJfIklf90.jpg
4  tt0167190    0.0  /qdTUAwQKQ9n7PfZeVJzs7sOP8S8.jpg

                               belongs_to_collection      budget  \
0                                                NaN         NaN
1                                                NaN         0.0
2                                                NaN         0.0
3                                                NaN         0.0
4  {'id': 17235, 'name': 'Hellboy Collection', 'p...  66000000.0

                                              genres homepage        id  \
0                                                NaN      NaN       NaN
1  [{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...      NaN   27743.0
2                      [{'id': 18, 'name': 'Drama'}]      NaN   46730.0
3                      [{'id': 18, 'name': 'Drama'}]      NaN  101917.0
4  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...      NaN    1487.0

  original_language            original_title  ...     revenue  runtime  \
0               NaN                       NaN  ...         NaN      NaN
1                en   Serial Killing 4 Dummys  ...         0.0     89.0
2                en  Goodnight, Joseph Parker  ...         0.0      0.0
3                nl                  Bluebird  ...         0.0     77.0

2006
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886 entries, 0 to 1885
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1886 non-null   object
 1   adult                  1885 non-null   float64
 2   backdrop_path          1007 non-null   object
 3   belongs_to_collection  140 non-null    object
 4   budget                 1885 non-null   float64
 5   genres                 1885 non-null   object
 6   homepage               310 non-null    object
 7   id                     1885 non-null   float64
 8   original_language      1885 non-null   object
 9   original_title         1885 non-null   object
 10  overview               1843 non-null   object
 11  popularity             1885 non-null   float64
 12  poster_path            1643 non-null   object
 13  production_companies   1885 non-null   object
 14  production_countries   1885 non-null   object
 15  release_date           1851 non-null   object
 16  revenue                1885 non-null   float64
 17  runtime                1885 non-null   float64
 18  spoken_languages       1885 non-null   object
 19  status                 1885 non-null   object
 20  tagline                813 non-null    object
 21  title                  1885 non-null   object
 22  video                  1885 non-null   float64
 23  vote_average           1885 non-null   float64
 24  vote_count             1885 non-null   float64
 25  certification          634 non-null    object
dtypes: float64(9), object(17)
memory usage: 383.2+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0103340    0.0  /rhdDnrUmGamF2kk9HZUgTApms2a.jpg                   NaN
2  tt0144280    0.0                               NaN                   NaN
3  tt0197633    0.0  /1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg                   NaN
4  tt0204250    0.0  /qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg                   NaN

     budget                                             genres homepage  \
0       NaN                                                NaN      NaN
1       0.0                      [{'id': 18, 'name': 'Drama'}]      NaN
2  100000.0                                                 []      NaN
3       0.0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...      NaN
4       0.0  [{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...      NaN

         id original_language                     original_title  ... revenue  \
0       NaN               NaN                                NaN  ...     NaN
1  268253.0                pl  Życie za życie. Maksymilian Kolbe  ...     0.0
2   30356.0                en      Whispers from a Shallow Grave  ...     0.0
3   58520.0                en           Live Freaky! Die Freaky!  ...     0.0
4  459563.0                en              Death of a Saleswoman  ...     0.0

   runtime                                   spoken_languages    status  \
0      NaN                                                NaN       NaN
1     90.0  [{'english_name': 'Italian', 'iso_639_1': 'it'...  Released
2     90.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3     75.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     77.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                             tagline  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  6 housewives. 1 dead body. A trunk full of pla...

                             title  video  vote_average vote_count  \
0                              NaN    NaN           NaN        NaN
1  Life for Life: Maximilian Kolbe    0.0         6.133       15.0
2    Whispers from a Shallow Grave    0.0         2.000        2.0
3         Live Freaky! Die Freaky!    0.0         3.800        8.0
4            Death of a Saleswoman    0.0         3.000        1.0

  certification
0           NaN
1           NaN
2           NaN
3            NR
4           NaN

[5 rows x 26 columns]

2007
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1938 entries, 0 to 1937
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1938 non-null   object
 1   adult                  1937 non-null   float64
 2   backdrop_path          1092 non-null   object
 3   belongs_to_collection  133 non-null    object
 4   budget                 1937 non-null   float64
 5   genres                 1937 non-null   object
 6   homepage               400 non-null    object
 7   id                     1937 non-null   float64
 8   original_language      1937 non-null   object
 9   original_title         1937 non-null   object
 10  overview               1892 non-null   object
 11  popularity             1937 non-null   float64
 12  poster_path            1706 non-null   object
 13  production_companies   1937 non-null   object
 14  production_countries   1937 non-null   object
 15  release_date           1906 non-null   object
 16  revenue                1937 non-null   float64
 17  runtime                1937 non-null   float64
 18  spoken_languages       1937 non-null   object
 19  status                 1937 non-null   object
 20  tagline                857 non-null    object
 21  title                  1937 non-null   object
 22  video                  1937 non-null   float64
 23  vote_average           1937 non-null   float64
 24  vote_count             1937 non-null   float64
 25  certification          633 non-null    object
dtypes: float64(9), object(17)
memory usage: 393.8+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0119231    0.0                               NaN                   NaN
2  tt0211933    0.0  /nAVntSurtINQNtYPU7ijgCtgz7W.jpg                   NaN
3  tt0213985    0.0  /d9WT4FCjvB3Z6Sx2cYckdPi9rMI.jpg                   NaN
4  tt0218140    0.0                               NaN                   NaN

       budget                                             genres homepage  \
0         NaN                                                NaN      NaN
1         0.0                     [{'id': 35, 'name': 'Comedy'}]      NaN
2  86000000.0  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...      NaN
3         0.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN
4         0.0                                                 []      NaN

         id original_language        original_title  ...     revenue  runtime  \
0       NaN               NaN                   NaN  ...         NaN      NaN
1  107182.0                en  The Junior Defenders  ...         0.0     82.0
2   13483.0                en                 Awake  ...  14373825.0     84.0
3   14608.0                en             Partition  ...         0.0    116.0
4  316153.0                en       Death and Taxis  ...         0.0      0.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1                                                 []  Released
2  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4                                                 []  Released

                                             tagline                 title  \
0                                                NaN                   NaN
1                                                NaN  The Junior Defenders
2  Every year, one in 700 people wake up during s...                 Awake
3                                                NaN             Partition
4                                                NaN       Death and Taxis

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0         3.000        1.0           NaN
2    0.0         6.485     1220.0             R
3    0.0         6.239       23.0             R
4    0.0         0.000        0.0           NaN

[5 rows x 26 columns]

2008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166 entries, 0 to 2165
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2166 non-null   object
 1   adult                  2165 non-null   float64
 2   backdrop_path          1150 non-null   object
 3   belongs_to_collection  152 non-null    object
 4   budget                 2165 non-null   float64
 5   genres                 2165 non-null   object
 6   homepage               509 non-null    object
 7   id                     2165 non-null   float64
 8   original_language      2165 non-null   object
 9   original_title         2165 non-null   object
 10  overview               2104 non-null   object
 11  popularity             2165 non-null   float64
 12  poster_path            1869 non-null   object
 13  production_companies   2165 non-null   object
 14  production_countries   2165 non-null   object
 15  release_date           2124 non-null   object
 16  revenue                2165 non-null   float64
 17  runtime                2165 non-null   float64
 18  spoken_languages       2165 non-null   object
 19  status                 2165 non-null   object
 20  tagline                880 non-null    object
 21  title                  2165 non-null   object
 22  video                  2165 non-null   float64
 23  vote_average           2165 non-null   float64
 24  vote_count             2165 non-null   float64
 25  certification          669 non-null    object
dtypes: float64(9), object(17)
memory usage: 440.1+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0119970    0.0                               NaN                   NaN
2  tt0177636    0.0  /ngbLRg9oitRGqRnuogcmpKf4vGp.jpg                   NaN
3  tt0200465    0.0  /ynnarxTMs8jWKV9GK0SpUhGNCgH.jpg                   NaN
4  tt0211946    0.0  /8ZoW4hwuTWxKWDezkoUGBVvyxj5.jpg                   NaN

       budget                                             genres  \
0         NaN                                                NaN
1         0.0  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
2         0.0  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
3  20000000.0  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4         0.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...

                        homepage        id original_language  original_title  \
0                            NaN       NaN               NaN             NaN
1                            NaN  165200.0                en   My Apocalypse
2                            NaN    8890.0                de  Geliebte Clara
3     http://thebankjobmovie.com    8848.0                en    The Bank Job
4  http://www.berlin-calling.de/   30508.0                de  Berlin Calling

   ...     revenue  runtime  \
0  ...         NaN      NaN
1  ...         0.0     82.0
2  ...         0.0    107.0
3  ...  64828421.0    112.0
4  ...         0.0    105.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'German', 'iso_639_1': 'de',...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'German', 'iso_639_1': 'de',...  Released

                                             tagline           title  video  \
0                                                NaN             NaN    NaN
1                             The future looks bleak   My Apocalypse    0.0
2                                                NaN           Clara    0.0
3  The true story of a heist gone wrong... in all...    The Bank Job    0.0
4                                                NaN  Berlin Calling    0.0

   vote_average vote_count certification
0           NaN        NaN           NaN
1         4.800        2.0           NaN
2         4.700        6.0           NaN
3         6.818     2002.0             R
4         6.841      305.0           NaN

[5 rows x 26 columns]

2009
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2467 non-null   object
 1   adult                  2466 non-null   float64
 2   backdrop_path          1326 non-null   object
 3   belongs_to_collection  162 non-null    object
 4   budget                 2466 non-null   float64
 5   genres                 2466 non-null   object
 6   homepage               681 non-null    object
 7   id                     2466 non-null   float64
 8   original_language      2466 non-null   object
 9   original_title         2466 non-null   object
 10  overview               2410 non-null   object
 11  popularity             2466 non-null   float64
 12  poster_path            2133 non-null   object
 13  production_companies   2466 non-null   object
 14  production_countries   2466 non-null   object
 15  release_date           2403 non-null   object
 16  revenue                2466 non-null   float64
 17  runtime                2466 non-null   float64
 18  spoken_languages       2466 non-null   object
 19  status                 2466 non-null   object
 20  tagline                1002 non-null   object
 21  title                  2466 non-null   object
 22  video                  2466 non-null   float64
 23  vote_average           2466 non-null   float64
 24  vote_count             2466 non-null   float64
 25  certification          697 non-null    object
dtypes: float64(9), object(17)
memory usage: 501.2+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0116991    0.0                               NaN                   NaN
2  tt0143558    0.0  /mUdwA3Szik9bkIMWEeux49I4EgL.jpg                   NaN
3  tt0205380    0.0  /dcF1eyBqF2Cb9rGpmsduLjZTNKr.jpg                   NaN
4  tt0304876    0.0  /kqvRaWpJbyNsNBEwni6IuJo8XqK.jpg                   NaN

   budget                                             genres homepage  \
0     NaN                                                NaN      NaN
1     0.0                      [{'id': 18, 'name': 'Drama'}]      NaN
2     0.0                      [{'id': 18, 'name': 'Drama'}]      NaN
3     0.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...      NaN
4     0.0                     [{'id': 35, 'name': 'Comedy'}]      NaN

         id original_language       original_title  ... revenue  runtime  \
0       NaN               NaN                  NaN  ...     NaN      NaN
1  492619.0                en  Mariette in Ecstasy  ...     0.0     86.0
2  410363.0                hu              Apaföld  ...     0.0     80.0
3  435199.0                hi     Sanam Teri Kasam  ...     0.0    170.0
4  231540.0                de          Unter Strom  ...     0.0     81.0

                                    spoken_languages    status tagline  \
0                                                NaN       NaN     NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released     NaN
2  [{'english_name': 'Hungarian', 'iso_639_1': 'h...  Released     NaN
3  [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...  Released     NaN
4  [{'english_name': 'German', 'iso_639_1': 'de',...  Released     NaN

                 title  video  vote_average vote_count certification
0                  NaN    NaN           NaN        NaN           NaN
1  Mariette in Ecstasy    0.0           0.0        0.0         PG-13
2        Father's Acre    0.0           6.8        5.0           NaN
3     Sanam Teri Kasam    0.0           7.0        2.0           NaN
4            Live Wire    0.0           6.0        1.0           NaN

[5 rows x 26 columns]

2010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2715 non-null   object
 1   adult                  2714 non-null   float64
 2   backdrop_path          1476 non-null   object
 3   belongs_to_collection  190 non-null    object
 4   budget                 2714 non-null   float64
 5   genres                 2714 non-null   object
 6   homepage               796 non-null    object
 7   id                     2714 non-null   float64
 8   original_language      2714 non-null   object
 9   original_title         2714 non-null   object
 10  overview               2635 non-null   object
 11  popularity             2714 non-null   float64
 12  poster_path            2331 non-null   object
 13  production_companies   2714 non-null   object
 14  production_countries   2714 non-null   object
 15  release_date           2652 non-null   object
 16  revenue                2714 non-null   float64
 17  runtime                2714 non-null   float64
 18  spoken_languages       2714 non-null   object
 19  status                 2714 non-null   object
 20  tagline                1057 non-null   object
 21  title                  2714 non-null   object
 22  video                  2714 non-null   float64
 23  vote_average           2714 non-null   float64
 24  vote_count             2714 non-null   float64
 25  certification          724 non-null    object
dtypes: float64(9), object(17)
memory usage: 551.6+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0312305    0.0  /lqUbt2cy2pnqvxKefbQAtxLS0WA.jpg                   NaN
2  tt0326965    0.0  /xt2klJdKCVGXcoBGQrGfAS0aGDE.jpg                   NaN
3  tt0331312    0.0                               NaN                   NaN
4  tt0393049    0.0  /gc9FN5zohhzCt05RkejQIIPLtBl.jpg                   NaN

     budget                                             genres  \
0       NaN                                                NaN
1       0.0  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
2       0.0  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...
3       0.0                                                 []
4  300000.0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...

                     homepage        id original_language  \
0                         NaN       NaN               NaN
1  http://www.qqthemovie.com/   23738.0                en
2    http://www.inmysleep.com   40048.0                en
3                         NaN  214026.0                en
4                         NaN  324352.0                en

                           original_title  ... revenue  runtime  \
0                                     NaN  ...     NaN      NaN
1  Quantum Quest: A Cassini Space Odyssey  ...     0.0     45.0
2                             In My Sleep  ...     0.0     90.0
3                      This Wretched Life  ...     0.0      0.0
4                        Anderson's Cross  ...     0.0     98.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3                                                 []  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released


2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013 entries, 0 to 3012
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3013 non-null   object
 1   adult                  3012 non-null   float64
 2   backdrop_path          1653 non-null   object
 3   belongs_to_collection  219 non-null    object
 4   budget                 3012 non-null   float64
 5   genres                 3012 non-null   object
 6   homepage               810 non-null    object
 7   id                     3012 non-null   float64
 8   original_language      3012 non-null   object
 9   original_title         3012 non-null   object
 10  overview               2938 non-null   object
 11  popularity             3012 non-null   float64
 12  poster_path            2626 non-null   object
 13  production_companies   3012 non-null   object
 14  production_countries   3012 non-null   object
 15  release_date           2955 non-null   object
 16  revenue                3012 non-null   float64
 17  runtime                3012 non-null   float64
 18  spoken_languages       3012 non-null   object
 19  status                 3012 non-null   object
 20  tagline                1117 non-null   object
 21  title                  3012 non-null   object
 22  video                  3012 non-null   float64
 23  vote_average           3012 non-null   float64
 24  vote_count             3012 non-null   float64
 25  certification          757 non-null    object
dtypes: float64(9), object(17)
memory usage: 612.1+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0176694    0.0  /43VrmHOChLcAOG9S5tIFdsxr3u8.jpg                   NaN
2  tt0210470    0.0                               NaN                   NaN
3  tt0323808    0.0  /oJiBH1aSFv0gOKwb34I7CCKqgRE.jpg                   NaN
4  tt0372538    0.0                               NaN                   NaN

      budget                                             genres  \
0        NaN                                                NaN
1        0.0  [{'id': 16, 'name': 'Animation'}, {'id': 18, '...
2        0.0                [{'id': 99, 'name': 'Documentary'}]
3  7750000.0  [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
4  5000000.0  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...

                                            homepage        id  \
0                                                NaN       NaN
1                                                NaN  116369.0
2  https://www.leightonpierce.com/cms/index.php?o...  239465.0
3                 http://www.thewickertreemovie.com/   79544.0
4                        http://www.spythemovie.com/  323867.0

  original_language       original_title  ... revenue  runtime  \
0               NaN                  NaN  ...     NaN      NaN
1                hu  Az ember tragédiája  ...     0.0    166.0
2                en    50 Feet of String  ...     0.0     52.0
3                en      The Wicker Tree  ...     0.0     96.0
4                en                  Spy  ...     0.0    110.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'Hungarian', 'iso_639_1': 'h...  Released
2  [{'english_name': 'No Language', 'iso_639_1': ...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                tagline               title  video  vote_average vote_count  \
0                   NaN                 NaN    NaN           NaN        NaN
1                   NaN  The Tragedy of Man    0.0         7.500       13.0
2                   NaN   50 Feet of String    0.0         6.000        3.0
3  Accept our sacrifice     The Wicker Tree    0.0         3.875       44.0
4                   NaN                 Spy    0.0         5.500        2.0

  certification
0           NaN
1           NaN
2           NaN
3             R
4           NaN

[5 rows x 26 columns]

2012
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311 entries, 0 to 3310
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3311 non-null   object
 1   adult                  3310 non-null   float64
 2   backdrop_path          1854 non-null   object
 3   belongs_to_collection  240 non-null    object
 4   budget                 3310 non-null   float64
 5   genres                 3310 non-null   object
 6   homepage               823 non-null    object
 7   id                     3310 non-null   float64
 8   original_language      3310 non-null   object
 9   original_title         3310 non-null   object
 10  overview               3231 non-null   object
 11  popularity             3310 non-null   float64
 12  poster_path            2877 non-null   object
 13  production_companies   3310 non-null   object
 14  production_countries   3310 non-null   object
 15  release_date           3260 non-null   object
 16  revenue                3310 non-null   float64
 17  runtime                3310 non-null   float64
 18  spoken_languages       3310 non-null   object
 19  status                 3310 non-null   object
 20  tagline                1214 non-null   object
 21  title                  3310 non-null   object
 22  video                  3310 non-null   float64
 23  vote_average           3310 non-null   float64
 24  vote_count             3310 non-null   float64
 25  certification          891 non-null    object
dtypes: float64(9), object(17)
memory usage: 672.7+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0249516    0.0  /t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg                   NaN
2  tt0285252    0.0  /pKOHinAVIkyqLliMaTHCSL1T4zU.jpg                   NaN
3  tt0293069    0.0  /cj2isIuskSePAwpb2D6yUBZrhkJ.jpg                   NaN
4  tt0337692    0.0  /jbcjTR19jatK9Jh4yfpNUXwPGh6.jpg                   NaN

       budget                                             genres  \
0         NaN                                                NaN
1  65000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
2   4000000.0                     [{'id': 35, 'name': 'Comedy'}]
3         0.0                   [{'id': 53, 'name': 'Thriller'}]
4  25000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...

                                            homepage        id  \
0                                                NaN       NaN
1  http://www.thresholdanimationstudios.com/video...  116977.0
2                                                NaN  112074.0
3                                                NaN  136884.0
4         http://www.ontheroad-themovie.com/?lang=en   83770.0

  original_language  original_title  ...    revenue  runtime  \
0               NaN             NaN  ...        NaN      NaN
1                en      Foodfight!  ...    73706.0     91.0
2                en  Life's a Beach  ...        0.0    100.0
3                en      Dark Blood  ...        0.0     86.0
4                en     On the Road  ...  8784318.0    137.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                           tagline           title  video  vote_average  \
0                              NaN             NaN    NaN           NaN
1                              NaN      Foodfight!    0.0         1.936
2                              NaN  Life's a Beach    0.0         2.400
3                              NaN      Dark Blood    0.0         6.100
4  The best teacher is experience.     On the Road    0.0         5.623

  vote_count certification
0        NaN           NaN
1      110.0            PG
2        6.0             R
3       17.0           NaN
4      770.0             R

[5 rows x 26 columns]

2013
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537 entries, 0 to 3536
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3537 non-null   object
 1   adult                  3536 non-null   float64
 2   backdrop_path          2024 non-null   object
 3   belongs_to_collection  225 non-null    object
 4   budget                 3536 non-null   float64
 5   genres                 3536 non-null   object
 6   homepage               868 non-null    object
 7   id                     3536 non-null   float64
 8   original_language      3536 non-null   object
 9   original_title         3536 non-null   object
 10  overview               3467 non-null   object
 11  popularity             3536 non-null   float64
 12  poster_path            3109 non-null   object
 13  production_companies   3536 non-null   object
 14  production_countries   3536 non-null   object
 15  release_date           3483 non-null   object
 16  revenue                3536 non-null   float64
 17  runtime                3536 non-null   float64
 18  spoken_languages       3536 non-null   object
 19  status                 3536 non-null   object
 20  tagline                1345 non-null   object
 21  title                  3536 non-null   object
 22  video                  3536 non-null   float64
 23  vote_average           3536 non-null   float64
 24  vote_count             3536 non-null   float64
 25  certification          953 non-null    object
dtypes: float64(9), object(17)
memory usage: 718.6+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0255820    0.0                               NaN                   NaN
2  tt0359950    0.0  /8hSjOHRY4OUEpqxszYbMdem8z9C.jpg                   NaN
3  tt0409379    0.0  /3tjCnZ9GFLiuMjAHxXAm5Tc98W2.jpg                   NaN
4  tt0452183    0.0                               NaN                   NaN

       budget                                             genres  \
0         NaN                                                NaN
1   2000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2  90000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
3         0.0  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
4         0.0                     [{'id': 35, 'name': 'Comedy'}]

                                            homepage        id  \
0                                                NaN       NaN
1                                                NaN  323498.0
2  https://www.20thcenturystudios.com/movies/the-...  116745.0
3                          http://insecretmovie.com/  172226.0
4                                                NaN  439174.0

  original_language                   original_title  ...      revenue  \
0               NaN                              NaN  ...          NaN
1                en                Return to Babylon  ...          0.0
2                en  The Secret Life of Walter Mitty  ...  188133322.0
3                en                        In Secret  ...          0.0
4                en                      Blunt Movie  ...          0.0

   runtime                                   spoken_languages    status  \
0      NaN                                                NaN       NaN
1     75.0                                                 []  Released
2    114.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3    101.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     83.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                             tagline  \
0                                                NaN
1                                                NaN
2                        Stop Dreaming, Start Living
3                                                NaN
4  From the creators of ABSOLUTELY NOTHING before...

                             title  video  vote_average vote_count  \
0                              NaN    NaN           NaN        NaN
1                Return to Babylon    0.0         5.826       22.0
2  The Secret Life of Walter Mitty    0.0         7.170     6970.0
3                        In Secret    0.0         6.289      190.0
4                      Blunt Movie    0.0         3.700        3.0

  certification
0           NaN
1           NaN
2            PG
3             R
4             R

[5 rows x 26 columns]

2014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3759 non-null   object
 1   adult                  3758 non-null   float64
 2   backdrop_path          2302 non-null   object
 3   belongs_to_collection  262 non-null    object
 4   budget                 3758 non-null   float64
 5   genres                 3758 non-null   object
 6   homepage               879 non-null    object
 7   id                     3758 non-null   float64
 8   original_language      3758 non-null   object
 9   original_title         3758 non-null   object
 10  overview               3696 non-null   object
 11  popularity             3758 non-null   float64
 12  poster_path            3359 non-null   object
 13  production_companies   3758 non-null   object
 14  production_countries   3758 non-null   object
 15  release_date           3706 non-null   object
 16  revenue                3758 non-null   float64
 17  runtime                3758 non-null   float64
 18  spoken_languages       3758 non-null   object
 19  status                 3758 non-null   object
 20  tagline                1397 non-null   object
 21  title                  3758 non-null   object
 22  video                  3758 non-null   float64
 23  vote_average           3758 non-null   float64
 24  vote_count             3758 non-null   float64
 25  certification          894 non-null    object
dtypes: float64(9), object(17)
memory usage: 763.7+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0329539    0.0                               NaN                   NaN
2  tt0365907    0.0  /isrro0soStk2tSWMsI50lPPhUsU.jpg                   NaN
3  tt0403935    0.0  /romORaZvZqMRjTPgw0HrAZpVn9V.jpg                   NaN
4  tt0424859    0.0                               NaN                   NaN

       budget                                             genres homepage  \
0         NaN                                                NaN      NaN
1         0.0                     [{'id': 35, 'name': 'Comedy'}]      NaN
2  28000000.0  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...      NaN
3         0.0  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...      NaN
4         0.0                                                 []      NaN

         id original_language               original_title  ...     revenue  \
0       NaN               NaN                          NaN  ...         NaN
1  274341.0                en                    Rice Girl  ...         0.0
2  169917.0                en  A Walk Among the Tombstones  ...  58834384.0
3  308165.0                hi                  एक्शन जैकसन  ...         0.0
4  285294.0                en              The Ninth Cloud  ...         0.0

   runtime                                   spoken_languages    status  \
0      NaN                                                NaN       NaN
1     95.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2    114.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3    144.0  [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...  Released
4     93.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                             tagline  \
0                                                NaN
1  For Windy Yee, a big break in Hollywood can me...
2     Some people are afraid of all the wrong things
3  Naa Commitment, Naa Appointment, Only Punishment!
4                      Even Reality can't stop Zena.

                         title  video  vote_average vote_count certification
0                          NaN    NaN           NaN        NaN           NaN
1                    Rice Girl    0.0         1.000        2.0           NaN
2  A Walk Among the Tombstones    0.0         6.318     2572.0             R
3               Action Jackson    0.0         4.280       25.0           NaN
4              The Ninth Cloud    0.0         4.000        1.0           NaN

[5 rows x 26 columns]

2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3835 entries, 0 to 3834
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3835 non-null   object
 1   adult                  3834 non-null   float64
 2   backdrop_path          2469 non-null   object
 3   belongs_to_collection  238 non-null    object
 4   budget                 3834 non-null   float64
 5   genres                 3834 non-null   object
 6   homepage               1037 non-null   object
 7   id                     3834 non-null   float64
 8   original_language      3834 non-null   object
 9   original_title         3834 non-null   object
 10  overview               3743 non-null   object
 11  popularity             3834 non-null   float64
 12  poster_path            3550 non-null   object
 13  production_companies   3834 non-null   object
 14  production_countries   3834 non-null   object
 15  release_date           3771 non-null   object
 16  revenue                3834 non-null   float64
 17  runtime                3834 non-null   float64
 18  spoken_languages       3834 non-null   object
 19  status                 3834 non-null   object
 20  tagline                1402 non-null   object
 21  title                  3834 non-null   object
 22  video                  3834 non-null   float64
 23  vote_average           3834 non-null   float64
 24  vote_count             3834 non-null   float64
 25  certification          770 non-null    object
dtypes: float64(9), object(17)
memory usage: 779.1+ KB
None
     imdb_id  adult                     backdrop_path  \
0          0    NaN                               NaN
1  tt0369610    0.0  /aIGIYJTyOkEVUmEd3z5x6diYsFx.jpg
2  tt0420293    0.0  /b0p0OPx1ZDZVc8iDB1kle0Cc2H9.jpg
3  tt0462335    0.0  /wESuRMxELPAwo56qFRcoyI4p20F.jpg
4  tt0478970    0.0  /a7sAqMKv5tkAdMzFfIhPqIBmQ9g.jpg

                               belongs_to_collection       budget  \
0                                                NaN          NaN
1  {'id': 328, 'name': 'Jurassic Park Collection'...  150000000.0
2                                                NaN          0.0
3                                                NaN          0.0
4  {'id': 422834, 'name': 'Ant-Man Collection', '...  130000000.0

                                              genres  \
0                                                NaN
1  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2                   [{'id': 53, 'name': 'Thriller'}]
3                      [{'id': 18, 'name': 'Drama'}]
4  [{'id': 878, 'name': 'Science Fiction'}, {'id'...

                                       homepage        id original_language  \
0                                           NaN       NaN               NaN
1                 http://www.jurassicworld.com/  135397.0                en
2  http://www.stanfordprisonexperimentfilm.com/  308032.0                en
3                   http://www.highrisefilm.com  254302.0                en
4    http://marvel.com/movies/movie/180/ant-man  102899.0                en

                   original_title  ...       revenue  runtime  \
0                             NaN  ...           NaN      NaN
1                  Jurassic World  ...  1.671537e+09    124.0
2  The Stanford Prison Experiment  ...  6.435570e+05    122.0
3                       High-Rise  ...  3.464720e+05    119.0
4                         Ant-Man  ...  5.193120e+08    117.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'French', 'iso_639_1': 'fr',...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                      tagline                           title  \
0                                         NaN                             NaN
1                           The park is open.                  Jurassic World
2  They were given 2 weeks. It lasted 6 days.  The Stanford Prison Experiment
3                 Leave the real world behind                       High-Rise
4                Heroes don't get any bigger.                         Ant-Man

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0         6.680    19131.0         PG-13
2    0.0         6.880      847.0             R
3    0.0         5.656     1038.0             R
4    0.0         7.082    18415.0         PG-13

[5 rows x 26 columns]

2016
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4071 entries, 0 to 4070
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4071 non-null   object
 1   adult                  4070 non-null   float64
 2   backdrop_path          2787 non-null   object
 3   belongs_to_collection  289 non-null    object
 4   budget                 4070 non-null   float64
 5   genres                 4070 non-null   object
 6   homepage               1192 non-null   object
 7   id                     4070 non-null   float64
 8   original_language      4070 non-null   object
 9   original_title         4070 non-null   object
 10  overview               3968 non-null   object
 11  popularity             4070 non-null   float64
 12  poster_path            3856 non-null   object
 13  production_companies   4070 non-null   object
 14  production_countries   4070 non-null   object
 15  release_date           4010 non-null   object
 16  revenue                4070 non-null   float64
 17  runtime                4070 non-null   float64
 18  spoken_languages       4070 non-null   object
 19  status                 4070 non-null   object
 20  tagline                1531 non-null   object
 21  title                  4070 non-null   object
 22  video                  4070 non-null   float64
 23  vote_average           4070 non-null   float64
 24  vote_count             4070 non-null   float64
 25  certification          848 non-null    object
dtypes: float64(9), object(17)
memory usage: 827.0+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0315642    0.0  /lD6lYulY6js9EAgUufh2ekNnCR4.jpg                   NaN
2  tt0376479    0.0  /fDxdfM4Qj2Qhc6EZYPyB3k4xatw.jpg                   NaN
3  tt0443533    0.0  /iU9ij6jSQOJDPFnqBUPzEY2eOs6.jpg                   NaN
4  tt0470936    0.0                               NaN                   NaN

       budget                                             genres  \
0         NaN                                                NaN
1   5200000.0  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
2         0.0  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
3  20000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
4         0.0                                                 []

                             homepage        id original_language  \
0                                 NaN       NaN               NaN
1                                 NaN  275269.0                hi
2  http://www.americanpastoral.movie/  326285.0                en
3                                 NaN  410366.0                en
4                                 NaN  532608.0                hy

           original_title  ...    revenue  runtime  \
0                     NaN  ...        NaN      NaN
1                   वज़ीर  ...  9200000.0    103.0
2       American Pastoral  ...        0.0    108.0
3     The History of Love  ...        0.0    134.0
4  Tak erkir, tsurt dzmer  ...        0.0    104.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'Armenian', 'iso_639_1': 'hy...  Released

                             tagline                     title  video  \
0                                NaN                       NaN    NaN
1  This new year make your best move                     Wazir    0.0
2        A radically ordinary story.         American Pastoral    0.0
3                                NaN       The History of Love    0.0
4                                NaN  Hot Country, Cold Winter    0.0

   vote_average vote_count certification
0           NaN        NaN           NaN
1         6.692      107.0         PG-13
2         6.138      621.0             R
3         6.512       83.0           NaN
4         0.000        0.0           NaN

[5 rows x 26 columns]

2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4439 entries, 0 to 4438
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4439 non-null   object
 1   adult                  4438 non-null   float64
 2   backdrop_path          3287 non-null   object
 3   belongs_to_collection  284 non-null    object
 4   budget                 4438 non-null   float64
 5   genres                 4438 non-null   object
 6   homepage               1164 non-null   object
 7   id                     4438 non-null   float64
 8   original_language      4438 non-null   object
 9   original_title         4438 non-null   object
 10  overview               4354 non-null   object
 11  popularity             4438 non-null   float64
 12  poster_path            4326 non-null   object
 13  production_companies   4438 non-null   object
 14  production_countries   4438 non-null   object
 15  release_date           4360 non-null   object
 16  revenue                4438 non-null   float64
 17  runtime                4438 non-null   float64
 18  spoken_languages       4438 non-null   object
 19  status                 4438 non-null   object
 20  tagline                1539 non-null   object
 21  title                  4438 non-null   object
 22  video                  4438 non-null   float64
 23  vote_average           4438 non-null   float64
 24  vote_count             4438 non-null   float64
 25  certification          860 non-null    object
dtypes: float64(9), object(17)
memory usage: 901.8+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0100275    0.0  /2S2XTeS2b0LPnqzXBDD3ZmwPF2X.jpg                   NaN
2  tt0137204    0.0  /92PDk4xvjTdGXrQYF0QOojK2btM.jpg                   NaN
3  tt0331314    0.0   /BiDHVlIs5Pm2uSqd2e2n7yT582.jpg                   NaN
4  tt0339736    0.0  /lobIr3Fq2buOUxXtursuEJEjfri.jpg                   NaN

      budget                                             genres homepage  \
0        NaN                                                NaN      NaN
1        0.0  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...      NaN
2        0.0  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...      NaN
3        0.0  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...      NaN
4  4000000.0                     [{'id': 27, 'name': 'Horror'}]      NaN

         id original_language         original_title  ... revenue  runtime  \
0       NaN               NaN                    NaN  ...     NaN      NaN
1  467254.0                es  La telenovela errante  ...     0.0     80.0
2  503326.0                en        Joe Finds Grace  ...     0.0     83.0
3  435995.0                en        Bunyan and Babe  ...     0.0     84.0
4  444193.0                en        The Evil Within  ...     0.0     98.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'Spanish', 'iso_639_1': 'es'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                      tagline                     title  \
0                                         NaN                       NaN
1                                         NaN  The Wandering Soap Opera
2                               A GLOVE STORY           Joe Finds Grace
3  You don't have to BE BIG to do BIG THINGS.           Bunyan and Babe
4              You Can't Run From a Nightmare           The Evil Within

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0         6.600       12.0           NaN
2    0.0        10.000        1.0           NaN
3    0.0         6.000       18.0            PG
4    0.0         5.842       79.0           NaN

[5 rows x 26 columns]

2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4682 entries, 0 to 4681
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4682 non-null   object
 1   adult                  4681 non-null   float64
 2   backdrop_path          3633 non-null   object
 3   belongs_to_collection  271 non-null    object
 4   budget                 4681 non-null   float64
 5   genres                 4681 non-null   object
 6   homepage               1266 non-null   object
 7   id                     4681 non-null   float64
 8   original_language      4681 non-null   object
 9   original_title         4681 non-null   object
 10  overview               4597 non-null   object
 11  popularity             4681 non-null   float64
 12  poster_path            4585 non-null   object
 13  production_companies   4681 non-null   object
 14  production_countries   4681 non-null   object
 15  release_date           4598 non-null   object
 16  revenue                4681 non-null   float64
 17  runtime                4681 non-null   float64
 18  spoken_languages       4681 non-null   object
 19  status                 4681 non-null   object
 20  tagline                1674 non-null   object
 21  title                  4681 non-null   object
 22  video                  4681 non-null   float64
 23  vote_average           4681 non-null   float64
 24  vote_count             4681 non-null   float64
 25  certification          851 non-null    object
dtypes: float64(9), object(17)
memory usage: 951.2+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0069049    0.0  /wXUcSJG6dqNKgIRgqYqX98UA1wz.jpg                   NaN
2  tt0192528    0.0  /gkBxjhtVEqgxOiRwRfWw1j7ez6K.jpg                   NaN
3  tt0276568    0.0                               NaN                   NaN
4  tt0360556    0.0  /7oy4miyq4WYYy0xtX6lbNVPrEsr.jpg                   NaN

       budget                                             genres  \
0         NaN                                                NaN
1  12000000.0                      [{'id': 18, 'name': 'Drama'}]
2   5000000.0                      [{'id': 18, 'name': 'Drama'}]
3         0.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4         0.0  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...

                                            homepage         id  \
0                                                NaN        NaN
1             https://www.netflix.com/title/80085566   299782.0
2                                                NaN   567662.0
3  https://networkonair.com/all-products/2806-man...  1057586.0
4          https://www.hbo.com/movies/fahrenheit-451   401905.0

  original_language              original_title  ... revenue  runtime  \
0               NaN                         NaN  ...     NaN      NaN
1                en  The Other Side of the Wind  ...     0.0    122.0
2                en              Reverse Heaven  ...     0.0    104.0
3                en          To Chase A Million  ...     0.0     98.0
4                en              Fahrenheit 451  ...     0.0    100.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3                                                 []  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                             tagline  \
0                                                NaN
1                            40 years in the making.
2  Heaven's in trouble and there's one man who ca...
3              A key to a fortune... a key to death!
4                     Knowledge is a dangerous thing

                        title  video  vote_average vote_count certification
0                         NaN    NaN           NaN        NaN           NaN
1  The Other Side of the Wind    0.0         6.696      179.0             R
2               Heaven & Hell    0.0         6.000        7.0           NaN
3          To Chase A Million    0.0         0.000        0.0           NaN
4              Fahrenheit 451    0.0         5.428      759.0         PG-13

[5 rows x 26 columns]

2019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4891 entries, 0 to 4890
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4891 non-null   object
 1   adult                  4890 non-null   float64
 2   backdrop_path          3879 non-null   object
 3   belongs_to_collection  288 non-null    object
 4   budget                 4890 non-null   float64
 5   genres                 4890 non-null   object
 6   homepage               1236 non-null   object
 7   id                     4890 non-null   float64
 8   original_language      4890 non-null   object
 9   original_title         4890 non-null   object
 10  overview               4791 non-null   object
 11  popularity             4890 non-null   float64
 12  poster_path            4819 non-null   object
 13  production_companies   4890 non-null   object
 14  production_countries   4890 non-null   object
 15  release_date           4825 non-null   object
 16  revenue                4890 non-null   float64
 17  runtime                4890 non-null   float64
 18  spoken_languages       4890 non-null   object
 19  status                 4890 non-null   object
 20  tagline                1659 non-null   object
 21  title                  4890 non-null   object
 22  video                  4890 non-null   float64
 23  vote_average           4890 non-null   float64
 24  vote_count             4890 non-null   float64
 25  certification          837 non-null    object
dtypes: float64(9), object(17)
memory usage: 993.6+ KB
None
     imdb_id  adult                     backdrop_path  \
0          0    NaN                               NaN
1  tt0385887    0.0  /xMHeU84wLQ9uH9acJ0oPgdii9wO.jpg
2  tt0437086    0.0  /aQXTw3wIWuFMy0beXRiZ1xVKtcf.jpg
3  tt0441881    0.0  /7uacpbrJd9g9xSTLgfyg1NwkAiu.jpg
4  tt0448115    0.0   /OIGX2lm5tmlCKvZUghtwHzoxxO.jpg

                               belongs_to_collection       budget  \
0                                                NaN          NaN
1                                                NaN   26000000.0
2                                                NaN  170000000.0
3                                                NaN   23934823.0
4  {'id': 724848, 'name': 'Shazam! Collection', '...   80000000.0

                                              genres  \
0                                                NaN
1  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
2  [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
3  [{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...
4  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...

                                            homepage        id  \
0                                                NaN       NaN
1             https://www.motherlessbrooklynfilm.com  504562.0
2  https://family.20thcenturystudios.com/movies/a...  399579.0
3                        http://dangerclosemovie.com  508664.0
4                         http://www.shazammovie.com  287947.0

  original_language                        original_title  ...      revenue  \
0               NaN                                   NaN  ...          NaN
1                en                   Motherless Brooklyn  ...   18377736.0
2                en                   Alita: Battle Angel  ...  404980543.0
3                en  Danger Close: The Battle of Long Tan  ...    2078370.0
4                en                               Shazam!  ...  366080049.0

   runtime                                   spoken_languages    status  \
0      NaN                                                NaN       NaN
1    145.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2    122.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3    119.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4    132.0  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                        tagline  \
0                                           NaN
1                                           NaN
2              An angel falls. A warrior rises.
3  Outnumbered. Outgunned. Never out of courage
4                            Just say the word.

                                  title  video  vote_average vote_count  \
0                                   NaN    NaN           NaN        NaN
1                   Motherless Brooklyn    0.0         6.726     1281.0
2                   Alita: Battle Angel    0.0         7.214     8253.0
3  Danger Close: The Battle of Long Tan    0.0         6.872      265.0
4                               Shazam!    0.0         7.041     8623.0

  certification
0           NaN
1             R
2         PG-13
3             R
4         PG-13

[5 rows x 26 columns]

2020
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934 entries, 0 to 3933
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3934 non-null   object
 1   adult                  3933 non-null   float64
 2   backdrop_path          2954 non-null   object
 3   belongs_to_collection  207 non-null    object
 4   budget                 3933 non-null   float64
 5   genres                 3933 non-null   object
 6   homepage               1106 non-null   object
 7   id                     3933 non-null   float64
 8   original_language      3933 non-null   object
 9   original_title         3933 non-null   object
 10  overview               3874 non-null   object
 11  popularity             3933 non-null   float64
 12  poster_path            3830 non-null   object
 13  production_companies   3933 non-null   object
 14  production_countries   3933 non-null   object
 15  release_date           3848 non-null   object
 16  revenue                3933 non-null   float64
 17  runtime                3933 non-null   float64
 18  spoken_languages       3933 non-null   object
 19  status                 3933 non-null   object
 20  tagline                1420 non-null   object
 21  title                  3933 non-null   object
 22  video                  3933 non-null   float64
 23  vote_average           3933 non-null   float64
 24  vote_count             3933 non-null   float64
 25  certification          741 non-null    object
dtypes: float64(9), object(17)
memory usage: 799.2+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0062336    0.0  /fw5tsNib4QZBEw18xmebpVe3WZ8.jpg                   NaN
2  tt0805647    0.0  /8rIoyM6zYXJNjzGseT3MRusMPWl.jpg                   NaN
3  tt0920462    0.0  /7GZ60FQuzejs73tfoBDFpCR21Iv.jpg                   NaN
4  tt0926132    0.0  /op14w44FvLUqH7TWyT1ijzrSfXV.jpg                   NaN

   budget                                             genres  \
0     NaN                                                NaN
1     0.0  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
2     0.0  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3     0.0                      [{'id': 18, 'name': 'Drama'}]
4     0.0                     [{'id': 27, 'name': 'Horror'}]

                                    homepage        id original_language  \
0                                        NaN       NaN               NaN
1  http://poetastros.com/el-tango-del-viudo/  602986.0                es
2           https://www.thewitchesmovie.net/  531219.0                en
3       https://www.lostgirlslovehotels.film  479259.0                en
4                   http://www.roadtored.com  651448.0                en

                              original_title  ...     revenue  runtime  \
0                                        NaN  ...         NaN      NaN
1  El tango del viudo y su espejo deformante  ...         0.0     63.0
2                   Roald Dahl's The Witches  ...  29303571.0    106.0
3                   Lost Girls & Love Hotels  ...    106045.0     97.0
4                                  Darkslide  ...         0.0    121.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'Spanish', 'iso_639_1': 'es'...  Released
2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

              tagline                                              title  \
0                 NaN                                                NaN
1                 NaN  The Tango of the Widower and Its Distorting Mi...
2       They're real!                           Roald Dahl's The Witches
3                 NaN                           Lost Girls & Love Hotels
4  Keep Moving or Die                                          Darkslide

   video  vote_average vote_count certification
0    NaN           NaN        NaN           NaN
1    0.0         5.500        4.0           NaN
2    0.0         6.407     2524.0            PG
3    0.0         5.390      141.0             R
4    0.0         6.250        4.0           NaN

[5 rows x 26 columns]

2021
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4013 entries, 0 to 4012
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4013 non-null   object
 1   adult                  4012 non-null   float64
 2   backdrop_path          3134 non-null   object
 3   belongs_to_collection  231 non-null    object
 4   budget                 4012 non-null   float64
 5   genres                 4012 non-null   object
 6   homepage               1161 non-null   object
 7   id                     4012 non-null   float64
 8   original_language      4012 non-null   object
 9   original_title         4012 non-null   object
 10  overview               3960 non-null   object
 11  popularity             4012 non-null   float64
 12  poster_path            3939 non-null   object
 13  production_companies   4012 non-null   object
 14  production_countries   4012 non-null   object
 15  release_date           3912 non-null   object
 16  revenue                4012 non-null   float64
 17  runtime                4012 non-null   float64
 18  spoken_languages       4012 non-null   object
 19  status                 4012 non-null   object
 20  tagline                1540 non-null   object
 21  title                  4012 non-null   object
 22  video                  4012 non-null   float64
 23  vote_average           4012 non-null   float64
 24  vote_count             4012 non-null   float64
 25  certification          783 non-null    object
dtypes: float64(9), object(17)
memory usage: 815.3+ KB
None
     imdb_id  adult                     backdrop_path  \
0          0    NaN                               NaN
1  tt0199602    0.0  /fOnjxCbR3Poar7voHcaQrvYqQMH.jpg
2  tt0293429    0.0  /9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg
3  tt0499097    0.0  /fPGeS6jgdLovQAKunNHX8l0avCy.jpg
4  tt0870154    0.0  /7WJjFviFBffEJvkAms4uWwbcVUk.jpg

                               belongs_to_collection       budget  \
0                                                NaN          NaN
1                                                NaN          0.0
2  {'id': 931431, 'name': 'Mortal Kombat (Reboot)...   20000000.0
3                                                NaN          0.0
4  {'id': 861429, 'name': 'Jungle Cruise Collecti...  200000000.0

                                              genres  \
0                                                NaN
1                     [{'id': 35, 'name': 'Comedy'}]
2  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
3  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
4  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...

                                  homepage        id original_language  \
0                                      NaN       NaN               NaN
1                                      NaN  894346.0                en
2        https://www.mortalkombatmovie.net  460465.0                en
3     https://www.amazon.com/dp/B08VFD1Y3B  567189.0                en
4  https://movies.disney.com/jungle-cruise  451048.0                en

                 original_title  ...      revenue  runtime  \
0                           NaN  ...          NaN      NaN
1                Holy Hollywood  ...          0.0     82.0
2                 Mortal Kombat  ...   84426031.0    110.0
3  Tom Clancy's Without Remorse  ...          0.0    109.0
4                 Jungle Cruise  ...  220889446.0    127.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1                                                 []  Released
2  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'German', 'iso_639_1': 'de',...  Released

                           tagline                         title  video  \
0                              NaN                           NaN    NaN
1                              NaN                Holy Hollywood    0.0
2                   Get over here.                 Mortal Kombat    0.0
3  From the author of Rainbow Six.  Tom Clancy's Without Remorse    0.0
4                              NaN                 Jungle Cruise    0.0

   vote_average vote_count certification
0           NaN        NaN           NaN
1         0.000        0.0           NaN
2         7.091     5268.0             R
3         7.037     2181.0             R
4         7.438     5024.0         PG-13

[5 rows x 26 columns]

2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3779 entries, 0 to 3778
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3779 non-null   object
 1   adult                  3778 non-null   float64
 2   backdrop_path          2999 non-null   object
 3   belongs_to_collection  210 non-null    object
 4   budget                 3778 non-null   float64
 5   genres                 3778 non-null   object
 6   homepage               1161 non-null   object
 7   id                     3778 non-null   float64
 8   original_language      3778 non-null   object
 9   original_title         3778 non-null   object
 10  overview               3718 non-null   object
 11  popularity             3778 non-null   float64
 12  poster_path            3677 non-null   object
 13  production_companies   3778 non-null   object
 14  production_countries   3778 non-null   object
 15  release_date           3659 non-null   object
 16  revenue                3778 non-null   float64
 17  runtime                3778 non-null   float64
 18  spoken_languages       3778 non-null   object
 19  status                 3778 non-null   object
 20  tagline                1541 non-null   object
 21  title                  3778 non-null   object
 22  video                  3778 non-null   float64
 23  vote_average           3778 non-null   float64
 24  vote_count             3778 non-null   float64
 25  certification          842 non-null    object
dtypes: float64(9), object(17)
memory usage: 767.7+ KB
None
     imdb_id  adult                     backdrop_path belongs_to_collection  \
0          0    NaN                               NaN                   NaN
1  tt0119830    0.0                               NaN                   NaN
2  tt0120589    0.0  /1ZilEjqou6JC369GOKwHWeqCbYL.jpg                   NaN
3  tt0200940    0.0  /qSHvhAEnomjwDNmYVnQIBbQyqpA.jpg                   NaN
4  tt0326716    0.0  /oLyQu5QAR1w7e8roeveNiZXS5kN.jpg                   NaN

   budget                                             genres  \
0     NaN                                                NaN
1     0.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
2     0.0                      [{'id': 18, 'name': 'Drama'}]
3     0.0  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
4     0.0  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...

                     homepage        id original_language  \
0                         NaN       NaN               NaN
1                         NaN  307046.0                en
2                         NaN  649985.0                pt
3                         NaN   68240.0                en
4  http://5-25-77themovie.com  199734.0                en

                                  original_title  ... revenue  runtime  \
0                                            NaN  ...     NaN      NaN
1                                    One Dog Day  ...     0.0    101.0
2  Predestinado: Arigó e o Espírito do Dr. Fritz  ...     0.0      0.0
3                Over-sexed Rugsuckers from Mars  ...     0.0     87.0
4                                        5-25-77  ...     0.0    132.0

                                    spoken_languages    status  \
0                                                NaN       NaN
1  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2  [{'english_name': 'Portuguese', 'iso_639_1': '...  Released
3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                             tagline  \
0                                                NaN
1                                                NaN
2                                                NaN
3      You'll never trust your vacuum cleaner again!
4  The true story of a boy... a girl... and the m...

                                           title  video  vote_average  \
0                                            NaN    NaN           NaN
1                                    One Dog Day    0.0           0.0
2  Predestinado: Arigó e o Espírito do Dr. Fritz    0.0           7.5
3                Over-sexed Rugsuckers from Mars    0.0           3.3
4                                        5-25-77    0.0           6.3

  vote_count certification
0        NaN           NaN
1        0.0           NaN
2       12.0           NaN
3        4.0           NaN
4        7.0         PG-13

[5 rows x 26 columns]

In [6]:
# concatenate dataframes
concat_df = pd.concat(dfs.values(), ignore_index = True)

# check
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66778 entries, 0 to 66777
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                66778 non-null  object
 1   adult                  66755 non-null  float64
 2   backdrop_path          43661 non-null  object
 3   belongs_to_collection  4435 non-null   object
 4   budget                 66755 non-null  float64
 5   genres                 66755 non-null  object
 6   homepage               16251 non-null  object
 7   id                     66755 non-null  float64
 8   original_language      66755 non-null  object
 9   original_title         66755 non-null  object
 10  overview               65369 non-null  object
 11  popularity             66755 non-null  float64
 12  poster_path            61654 non-null  object
 13  production_companies   66755 non-null  object
 14  production_countries   66755 non-null  object
 15  release_date           65528 non-null  object
 16  revenue                66755 non-null  float64
 17  runtime                66755 non-null  float64
 18  spoken_languages       66755 non-null  object
 19  status                 66755 non-null  object
 20  tagline                25565 non-null  object
 21  title                  66755 non-null  object
 22  video                  66755 non-null  float64
 23  vote_average           66755 non-null  float64
 24  vote_count             66755 non-null  float64
 25  certification          16053 non-null  object
dtypes: float64(9), object(17)
memory usage: 13.2+ MB

In [8]:
# save merged df to file
concat_df.to_csv(f"Data/tmdb_results_2000_to_2022.csv.gz",
          compression = "gzip",
          index = False)